/* =============== GOOGLE FONTS =============== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* =============== GLOBAL VARIABLES =============== */

:root {
    --darkcolor: #121212;
    --intercolor: #fde68a;
    --lightcolor: #f8f8f8;
    --darkgray: #1e1e1f;
    --lightgray: #282829;
}

/* =============== RESET CSS =============== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: var(--lightcolor);
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--darkcolor);
}

/* =============== SCROLLBAR HIDDEN =============== */

body::-webkit-scrollbar {
    width: 0px;
}

body::-webkit-scrollbar {
    width: 0px;
}

/* =============== HEADER =============== */

header {
    padding: 3rem 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.logo p {
    font-size: 2rem;
    transition: .5s;
}

.logo p span {
    transition: .5s;
    color: var(--intercolor);
}

.logo:hover p {
    color: var(--intercolor);
}

.logo:hover p span {
    color: var(--lightcolor);
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.nav-links li a {
    font-size: 1.5rem;
    transition: .5s;
}

.nav-links li:hover a {
    color: var(--intercolor);
}

.github-brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.github-brand svg path {
    transition: .5s;
}

.github-brand:hover svg path {
    fill: var(--intercolor);
}

/* =============== ALL =============== */

.text-for-a {
    font-size: 0rem;
}

/* =============== HOME PAGE =============== */



/* =============== ABOUT PAGE =============== */



/* =============== PROJECT PAGE =============== */



/* =============== CONTACT PAGE =============== */

