/* =============== GOOGLE FONTS =============== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* =============== GLOBAL VARIABLES =============== */

:root {
    --darkcolor: #121212;
    --intercolor: #f9e57f;
    --lightcolor: #f8f8f8;
    --gray1: #464545;
    --gray2: #1f1f1f;
}

/* =============== RESET CSS =============== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: var(--lightcolor);
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--darkcolor);
}

/* =============== SCROLLBAR HIDDEN =============== */

body::-webkit-scrollbar {
    width: 0px;
}

body::-webkit-scrollbar {
    width: 0px;
}

/* =============== ALL =============== */

main {
    padding: 0 8rem;
}

.text-for-a {
    font-size: 0rem;
}

.name {
    color: var(--intercolor);
}

.photo {
    width: 30rem;
    border-radius: 50%;
}

/* =============== HEADER =============== */

header {
    padding: 3rem 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.logo p {
    font-size: 2rem;
    transition: .5s;
}

.logo p span {
    transition: .5s;
    color: var(--intercolor);
}

.logo:hover p {
    color: var(--intercolor);
}

.logo:hover p span {
    color: var(--lightcolor);
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.nav-links li a {
    font-size: 1.5rem;
    transition: .5s;
    color: var(--gray1);
}

.nav-links li:hover a {
    color: var(--intercolor);
}

.active {
    color: var(--intercolor) !important;
}

.github-brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.github-brand svg path {
    transition: .5s;
}

.github-brand:hover svg path {
    fill: var(--intercolor);
}

/* =============== HOME PAGE =============== */

#home {
    height: calc(100vh - 6rem - 24px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.home-content {
    font-size: 1.8rem;
}

.home-content div {
    margin: 3rem auto;
}

.phrases {
    background: linear-gradient(to right, var(--lightcolor), var(--intercolor));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.second {
    margin-bottom: 5rem;
}

.contact-button {
    font-weight: bold;
    background-color: var(--darkcolor);
    border: solid 1px var(--intercolor);
    border-radius: 2rem;
    padding: 1rem 2rem;
    transition: .5s;
}

.contact-button:hover {
    background-color: var(--intercolor);
    color: var(--darkcolor);
}

#home img {
    border: solid 5px var(--intercolor);
    -webkit-box-shadow: 0px 0px 55px 0px var(--intercolor);
    -moz-box-shadow: 0px 0px 55px 0px var(--intercolor);
    box-shadow: 0px 0px 55px 0px var(--intercolor);
}

/* =============== ABOUT PAGE =============== */

#me {
    background-color: var(--gray2);
    border: solid 2px var(--gray1);
    border-radius: 2rem;
    padding: 4rem;
    margin: 1rem 0;
}

#me h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.me-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 4rem;
}

.me-content img {
    width: 35rem;
}

.paragraphs {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.paragraphs p {
    font-size: 1.8rem;
    line-height: 2.5rem;
    letter-spacing: .15rem;
}

#skills {
    padding: 2rem 4rem;
    margin: 1rem 0;
}

#skills h2 {
    font-size: 2rem;
    margin: 2rem 0;
}

.nav-skills-bar {
    margin: 4rem 0;
    display: flex;
    gap: 4rem;
}

.skills-button {
    background-color: var(--darkcolor);
    border: none;
    color: #9ba2ae;
    padding: 1rem 2rem;
    border-radius: 1rem;
    cursor: pointer;
}

.button-active {
    background-color: #2a271e;
    color: var(--intercolor);
}

.skills-items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 2rem;
    justify-content: center;
}

.skill {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: solid .2rem var(--intercolor);
    border-radius: .5rem;
    width: 20rem;
    height: 8rem;
}

.skill img {
    width: 4rem;
}

.skill h3 {
    font-size: 1.8rem;
}

#technologies {
    display: none;
}

/* =============== PROJECT PAGE =============== */

#projects {
    text-align: center;
    font-size: 2rem;
}

.title h2 {
    margin: 1rem 0;
}

.title p {
    background: linear-gradient(to right, var(--lightcolor), var(--intercolor));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.projects-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(37rem, 1fr));
    gap: 2rem;
    justify-content: center;
    margin: 4rem 0;
}

.project {
    width: 37rem;
    background-color: var(--gray2);
    border: solid 2px var(--gray1);
    border-radius: 1rem;
    padding: 1.5rem;
}

.project img {
    width: 100%;
    border-radius: 1rem;
}

.project h3 {
    margin: 2rem 0;
}

.project p {
    font-size: 1.5rem;
    text-align: start;
    line-height: 2rem;
    word-spacing: .2rem;
    color: #b4b4b4;
    margin-bottom: 2rem;
}

.additional-info {
    display: flex;
    justify-content: space-between;
}

.additional-info p {
    color: var(--intercolor);
    font-weight: bold;
    margin-bottom: 0;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.repository,
.link {
    transition: .5s;
}

.links a:hover .link {
    stroke: var(--intercolor);
}

.links a:hover .repository {
    fill: var(--intercolor);
}

/* =============== CONTACT PAGE =============== */

#contact {
    margin: 2rem 0;
    height: calc(100vh - 10rem - 24px);
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 45rem;
    height: 45rem;
    border-top: solid 5px var(--intercolor);
    border-left: solid 5px var(--intercolor);
    border-bottom: solid 5px var(--intercolor);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input,
textarea,
button[type="submit"] {
    background-color: var(--darkcolor);
    border: solid 1px var(--intercolor);
    width: 70%;
    border-radius: 1rem;
    padding: 1rem 2rem;
}

input[type="text"],
input[type="email"] {
    margin-bottom: 2rem;
}

textarea {
    margin-bottom: 6rem;
}

button[type="submit"] {
    cursor: pointer;
    transition: .5s;
    font-weight: bold;
}

button[type="submit"]:hover {
    background-color: var(--intercolor);
    color: var(--darkcolor);
}

.contact-links {
    width: 45rem;
    height: 45rem;
    background-color: var(--intercolor);
    color: var(--darkcolor);
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.c-links {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.contact-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
}

/* =============== FOOTER NAV =============== */

footer {
    display: none;
}

/* =============== RESPONSIVE =============== */

@media screen and (max-width: 900px) {
    #home {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
      
    #home img {
        order: -1;
        max-width: 100%;
        height: auto;
        margin-right: 20px;
    }
      
    .home-content {
        text-align: center;
    }

    .home-content div {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .home-content div .name {
        display: block;
        font-size: 5rem;
    }

    .me-content {
        flex-direction: column;
    }

    .paragraphs {
        width: 100%;
    }

    .projects-grid {
        grid-template-columns: auto;
        gap: 4rem;
    }

    .project {
        width: 100%;
    }

    .project h3 {
        font-size: 4rem;
    }

    .project p {
        font-size: 2rem;  
        line-height: 2.5rem;
        word-spacing: .25rem;      
    }

    .links a svg {
        width: 20px;
        height: 20px;
    }

    #contact {
        flex-direction: column;
    }

    form {
        width: 55rem;
        height: 55rem;
        border-right: solid 5px var(--intercolor);
        border-bottom: none;
        border-bottom-left-radius: 0;
        border-top-right-radius: 2rem;
    }

    .contact-links {
        width: 55rem;
        height: 55rem;
        border-top-right-radius: 0;
        border-bottom-left-radius: 2rem;
    }
}

@media screen and (max-width: 390px) {
    main {
        padding: 0 3.6rem;
    }

    #home {
        height: calc(100vh - 12rem - 42px);
    }

    header {
        padding: 3rem 3rem;
    }

    header nav {
        display: none;
    }

    .home-content p:first-child {
        display: none;
    }

    .home-content div h1 {
        font-size: 0;
    }
    
    .home-content div h1 span.name {
        font-size: 4rem;
    }

    .me-content img {
        border: solid 2px var(--intercolor);
    }

    .nav-skills-bar {
        flex-direction: column;
        gap: 1rem;
    }

    .skills-items {
        grid-template-columns: auto;
    }

    .project h3 {
        font-size: 2.5rem;
    }

    .project p {
        font-size: 1.8rem;
    }

    .links a svg {
        width: 18px;
        height: 18px;
    }

    #contact {
        margin: 0;
        height: calc(100vh - 12rem - 42px);
    }

    form {
        width: 30rem;
        height: 30rem;
    }

    .contact-links {
        width: 30rem;
        height: 30rem;
    }

    #hc-footer {
        display: block;
        padding: 3rem 3rem;
        background-color: var(--gray2);
        margin: 0 2rem;
        border-top-right-radius: 2rem;
        border-top-left-radius: 2rem;
    }

    #ap-footer {
        position: sticky;
        bottom: 0;
        display: block;
        padding: 3rem 3rem;
        background-color: var(--gray2);
        margin: 0 2rem;
        border-top-right-radius: 2rem;
        border-top-left-radius: 2rem;
    }    
}