/* ============== VARIABLES ============== */
:root {
    --colordark: #606C5D;
    --colorinter: #F1C376;
    --colorlight: #FFF4F4;
}

/* ============== RESET CSS ============== */
* {
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    text-decoration: none;
    background-color: var(--colordark);
    color: var(--colorlight);
}

/* ============== HEADER AND HOME ============== */
