/* ============== VARIABLES ============== */
:root {
    --colordark: #606C5D;
    --colorinter: #F1C376;
    --colorlight: #FFF4F4;
}

/* ============== RESET CSS ============== */
* {
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    text-decoration: none;
    background-color: var(--colordark);
    color: var(--colorlight);
    font-family: 'Lora', serif;
}

/* ============== HEADER AND HOME ============== */

header {
    height: 100vh;
    padding: 4vh 3vw;
}

#home {
    height: calc(100vh - 8vh - 50px);
    padding: 25vh 0 0 4vw;
}

.home-p {
    font-size: 1.8rem;
}

.home-name {
    font-size: 3.5rem;
    padding: 4vh 2vw;
}

.home-span-input {
    color: var(--colorinter);
}

.home-span-text {
    font-family: 'Pacifico', cursive;
    color: var(--colorinter);
}

.home-button {
    margin-top: 4vh;
    background-color: var(--colorinter);
    border: none;
    border: 2px solid var(--colorinter);
    border-radius: 20px;
    width: 13vw;
    height: 6vh;
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--colordark);
    font-weight: 800;
    transition: .5s;
}

.home-button:hover{
    background-color: var(--colordark);
    color: var(--colorinter);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

nav > .logo > img {
    width: 50px;
    height: 50px;
}

nav > ul {
    display: flex;
    gap: 2rem;
}

nav > ul > li > a {
    transition: .5s;
}

nav > ul > li > a:hover {
    color: var(--colorinter);
}

.main-nav-scrolled {
    position: fixed;
    top: 0;
    padding: 1vh 6vw 1vh 0;
}

/* ============== SECTION CONFIGURATION ============== */

section {
    height: 100vh;
    padding: 4vh 3vw;
}

.section-scrolled {
    padding: calc(2vh + 50px) 3vw 8vh 3vw;
}

.right {
    text-align: right;
}

.left,
.right {
    color: var(--colorinter);
    font-size: 1.8rem;
    margin: 1vh auto;
}

/* ============== ABOUT SECTION ============== */

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-container-left {
    width: 50%;
    padding-right: 2vw;
    text-align: center;
}

.about-photo {
    width: 100px;
    height: 100px;
    border: 2px solid var(--colorlight);
    border-radius: 50%;
    margin-top: 4vh;
    margin-bottom: 2vh;
}

.about-name {
    color: var(--colorinter);
    margin-bottom: 4vh;
    font-size: 1.8rem;
}

.about-p {
    margin-bottom: 2vh;
    font-size: 1.2rem;
}

.about-button {
    margin-top: 4vh;
    background-color: var(--colorinter);
    border: none;
    border: 2px solid var(--colorinter);
    border-radius: 20px;
    width: 13vw;
    height: 6vh;
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--colordark);
    font-weight: 800;
    transition: .5s;
}

.about-button:hover{
    background-color: var(--colordark);
    color: var(--colorinter);
}

.about-container-right {
    width: 50%;
    padding-left: 2vw;
    padding-right: 2vw;
}

.about-grid {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 3rem;
    margin-top: 3rem;
}

.more-information {
    width: 190px;
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid var(--colorlight);
}

.about-subtitle {
    color: var(--colorinter);
    font-size: 2rem;
}

.about-text {
    font-size: 1.2rem;
}

/* ============== SKILL SECTION ============== */



/* ============== PROJECT SECTION ============== */



/* ============== CONTACT SECTION ============== */



/* ============== FOOTER ============== */

